<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List popular libraries for Data Science
* Create a markdown cell with a table of Data Science tools
* Create a code cell to multiply and add numbers

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. ggplot

| Data Science Tools |
| ------ |
| Apache Sparks |
| Hadoop | 
| Tensor Flow |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [32]:
#This will convert 200 minutes to hours by diving by 60
print("h:", int(200/60),",", "min:" , round((200/60-int(200/60))*60) )

h: 3 , min: 20

## Author
Agnese Janigro